<?xml version="1.0"?>
<launch>
    <!-- 启动底盘驱动 -->
    <include file="$(find autolabor_pro1_driver)/launch/driver.launch" />

    <!-- 启动Kinect2相机 -->
    <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch" />

    <!-- 启动目标跟踪节点 -->
    <node pkg="track_pkg" name="tracker" type="kcf_tracker" output="screen">
    </node>

</launch>
